<svg viewBox="0 0 100 100">
    <style type="text/css">
        .st0 {
            fill: #FFFFFF;
            stroke: #283577;
            stroke-width: 6;
            stroke-miterlimit: 10;
         }
        .st1 {
            fill: none;
            stroke: #283577;
            stroke-width: 4;
            stroke-linecap: round;
            stroke-miterlimit: 10;
        }
    </style>
    <ellipse class="st0" cx="48.1" cy="82.3" rx="28.1" ry="13.1"/>
    <path class="st0" d="M73.7,29.6c0,14.2-25.7,47-25.7,47s-25.7-32.9-25.7-47S33.9,4,48.1,4S73.7,15.4,73.7,29.6z"/>
    <g>
        <line class="st1" x1="48.1" y1="17.8" x2="48.1" y2="32.6"/>
        <line class="st1" x1="35.1" y1="25.2" x2="35.1" y2="40.1"/>
        <line class="st1" x1="35.1" y1="25.2" x2="48.1" y2="17.8"/>
        <line class="st1" x1="35.1" y1="40.1" x2="48.1" y2="32.6"/>
        <line class="st1" x1="48.1" y1="47.7" x2="61" y2="40.3"/>
        <line class="st1" x1="61" y1="25.2" x2="61" y2="40.1"/>
        <line class="st1" x1="61" y1="25.2" x2="48.1" y2="17.8"/>
        <line class="st1" x1="55.9" y1="37.1" x2="48.1" y2="32.6"/>
        <line class="st1" x1="48.1" y1="47.7" x2="35.1" y2="40.3"/>
    </g>
</svg>
